@media only screen and (max-width: 640px) {
  #resultsTable td:nth-child(2),
  #resultsTable th:nth-child(2),
  #resultsTable td:nth-child(4),
  #resultsTable th:nth-child(4),
  #resultsTable td:nth-child(7),
  #resultsTable th:nth-child(7),
  #resultsTable td:nth-child(8),
  #resultsTable th:nth-child(8),
  #resultsTable td:nth-child(9),
  #resultsTable th:nth-child(9),
  #resultsTable td:nth-child(10),
  #resultsTable th:nth-child(10),
  #resultsTable td:nth-child(11),
  #resultsTable th:nth-child(11),
  #resultsTable td:nth-child(12),
  #resultsTable th:nth-child(12) { display: none; }
}

#resultsTable, .table {
  font-size: 0.875rem;
  width: 100% !important;
}

#resultsTable_wrapper div {
  margin: 0;
  padding: 0;
}

#resultsTable thead th {
  position: sticky;
  top: 0;
}

.table caption {
  caption-side: top;
  font-size: 1.3rem;
  font-weight: bold;
}
#HeatsTable tr:nth-child(8n+1), #HeatsTable tr:nth-child(8n+2), #HeatsTable tr:nth-child(8n+3), #HeatsTable tr:nth-child(8n+4),
#PointsPrimesTable tr:nth-child(8n+1), #PointsPrimesTable tr:nth-child(8n+2), #PointsPrimesTable tr:nth-child(8n+3), #PointsPrimesTable tr:nth-child(8n+4) {
  background: #eee;
 }
 #SprintTable tr:nth-child(10n+1), #SprintTable tr:nth-child(10n+2), #SprintTable tr:nth-child(10n+3), #SprintTable tr:nth-child(10n+4) {
  background: #eee;
 }

@media only screen and (min-width: 768px) {
    main #intro  {
      background-image: url('images/bike.png');
      background-position: top 50px right 20px;
      background-repeat: no-repeat;
    }
}

#orientationInfo, #resultsInfo {
  display: block;
  font-size: 0.875rem;
}

@media only screen and (min-width: 640px) {
  #orientationInfo {
    display: none;
  }
}

#orientationInfo, #resultsInfo {
  padding: 7px 10px 6px 10px;
}

#orientationInfo .btn-close, #resultsInfo .btn-close {
  top: -10px;
}

.navbar div > a > svg {
  vertical-align: top;
}

#navbarCollapse.show {
  border-top: 2px solid #fff;
}

footer,
#lastUpdated {
  color: #999;
  font-size: 0.875rem;
}

#reloadText {
  color: #ddd;
  font-weight: normal;
}

h2 {
  background-color: #ccc; 
}