@media only screen and (max-width: 640px) {
  table td:nth-child(2),
  table th:nth-child(2),
  table td:nth-child(4),
  table th:nth-child(4),
  table td:nth-child(7),
  table th:nth-child(7),
  table td:nth-child(8),
  table th:nth-child(8),
  table td:nth-child(9),
  table th:nth-child(9),
  table td:nth-child(10),
  table th:nth-child(10),
  table td:nth-child(11),
  table th:nth-child(11),
  table td:nth-child(12),
  table th:nth-child(12) { display: none; }
}

#resultsTable {
  font-size: 90%;
}

@media only screen and (min-width: 768px) {
    main #intro  {
      background-image: url('images/bike.png');
      background-position: top 50px right 20px;
      background-repeat: no-repeat;
    }
}

#orientationInfo {
  display: block;
  font-size: 90%;
}

@media only screen and (min-width: 640px) {
  #orientationInfo {
    display: none;
  }
}

#orientationInfo {
  padding: 7px 10px 6px 10px;
}

#orientationInfo button {
  top: -10px;
}

.navbar div > a > svg {
  vertical-align: top;
}

@media (max-width: 575.98px) {
  #reloadText {
    display: none;
  }
}

#lastUpdated {
  font-size: 80%;
}